[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "itol.toolkit"]
	path = itol.toolkit
	url = https://github.com/tongzhou2017/itol.toolkit
